@page "/readfile"

<h1>ReadFFile</h1>
<h2>@DateTime.Now.ToString()</h2>
<button @onclick="LoadFileData">loadFileData</button>
<h3>@FileData</h3>
@code {
    string FileData = "";


    protected override void OnInitialized()
    {
        LoadFileData();
    }

    void LoadFileData()
    {
        try
        {
            var filePath = @"C:\LiveSessionKoenig\KlineDotnetCustom\kline-training\Day5\hello.txt";
            using var sr = new StreamReader(filePath);
            FileData = sr.ReadToEnd();

        }
        catch (Exception ex)
        {

            FileData = ex.Message;
        }


    }

}
